<div class="avatar">
  <figure>
    <img
      src="{{ assetPath }}img/user-photo.jpg"
      alt="Portrait of Alex Hiriavenko"
      width="120"
      height="120"
      class="avatar__img"
      loading="lazy"
    />

    <figcaption class="avatar__message" id="contacts">
      <span class="avatar__name">I'm Alex.</span>
      <span class="avatar__greetings">Hello!</span>
    </figcaption>
  </figure>
</div>
