<section aria-labelledby="certs-title">
  <h3 id="certs-title" class="section-title">
    <span>{{ t.certificates.title }}</span>
    <span>📃</span>
  </h3>
  <a class="cert__link" href="{{ localePath }}certificates/">&#10153; {{ t.certificates.linkText }}</a>
</section>
