<section class="contacts" aria-labelledby="contacts-title">
  <h3 id="contacts-title" class="section-title">
    <span>Contacts</span>
    <span class="mobile-emoji">🖁</span>
  </h3>

  <address>
    <ul class="contacts__list sidebar__list">
      <li>
        <a href="tel:+380504716006" class="contacts__link">
          <img src="{{ assetPath }}img/icons/phone.svg" alt="" width="20" aria-hidden="true" />
          <span>+3(8050) 471-60-06</span>
        </a>
      </li>
      <li>
        <a href="tel:+380984625714" class="contacts__link">
          <img src="{{ assetPath }}img/icons/phone.svg" alt="" width="20" aria-hidden="true" />
          <span>+3(8098) 46-25-714</span>
        </a>
      </li>
      <li>
        <a href="mailto:martmarchmartmarch@gmail.com" class="contacts__link">
          <img src="{{ assetPath }}img/icons/email.svg" alt="" width="22" aria-hidden="true" />
          <span>martmarchmartmarch@<span>gmail.com</span></span>
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/oleksii-hiriavenko/"
          class="contacts__link"
          target="_blank"
          rel="noopener"
          aria-label="LinkedIn profile"
        >
          <img src="{{ assetPath }}img/icons/linkedin.svg" alt="" width="20" aria-hidden="true" />
          <span>LinkedIn</span>
        </a>
      </li>
      <li>
        <a
          href="https://t.me/AlexHiriavenko"
          class="contacts__link"
          target="_blank"
          rel="noopener"
          aria-label="Telegram"
        >
          <img src="{{ assetPath }}img/icons/telegram.svg" alt="" width="20" aria-hidden="true" />
          <span>Telegram</span>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/AlexHiriavenko"
          class="contacts__link"
          target="_blank"
          rel="noopener me"
          aria-label="GitHub profile"
        >
          <img src="{{ assetPath }}img/icons/github.svg" alt="" width="20" aria-hidden="true" />
          <span>Github</span>
        </a>
      </li>
    </ul>
  </address>
</section>
