<section class="edu" id="edu" aria-labelledby="edu-title">
  <h3 id="edu-title" class="section-title">
    <span>Courses</span>
    <img src="{{ assetPath }}img/icons/courses.svg" alt="book" width="24" />
  </h3>

  <ul class="sidebar__list skills__list">
    <li class="courses__item">RS-School: Nodejs</li>
    <li class="courses__item">Palmo: Vue, Laravel</li>
    <li class="courses__item">DAN.IT: React</li>
    <li class="courses__item">RS-School: JavaScript</li>
    <li class="courses__item">EPAM: Frontend self paced program</li>
  </ul>
</section>
