<section id="lang" aria-labelledby="lang-title">
  <h3 id="lang-title" class="section-title">
    <span>Languages</span>
    <span>🕊️</span>
  </h3>

  <ul class="sidebar__list lang-list">
    <li class="lang-item">
      <img src="{{ assetPath }}img/icons/Flag_of_Ukraine_3.svg" alt="Ukrainian flag" width="20" />
      <span>Ukrainian - native</span>
    </li>
    <li class="lang-item">
      <img src="{{ assetPath }}img/icons/Flag_of_the_United_Kingdom_(3-5).svg" alt="UK flag" width="20" />
      <span>English - intermediate (B1)</span>
    </li>
    <li class="lang-item">
      <img src="{{ assetPath }}img/icons/Flag_of_Russia.svg" alt="Russian flag" width="20" />
      <span>russian - fluent</span>
    </li>
  </ul>
</section>
