<section id="lang" aria-labelledby="lang-title">
  <h3 id="lang-title" class="section-title">
    <span>{{ t.languages.title }}</span>
    <span>🕊️</span>
  </h3>

  <ul class="sidebar__list lang-list">
    <li class="lang-item">
      <img src="{{ assetPath }}img/icons/Flag_of_Ukraine_3.svg" alt="{{ t.languages.ukrainianFlagAlt }}" width="20" />
      <span>{{ t.languages.ukrainian }}</span>
    </li>
    <li class="lang-item">
      <img src="{{ assetPath }}img/icons/Flag_of_the_United_Kingdom_(3-5).svg" alt="{{ t.languages.ukFlagAlt }}" width="20" />
      <span>{{ t.languages.english }}</span>
    </li>
    <li class="lang-item">
      <img src="{{ assetPath }}img/icons/Flag_of_Russia.svg" alt="{{ t.languages.russianFlagAlt }}" width="20" />
      <span>{{ t.languages.russian }}</span>
    </li>
  </ul>
</section>
