<!DOCTYPE html>
<html lang="{{ locale.htmlLang }}">
  {% set title = page.seo.title %}
  {% include "partials/head.njk" %}
  <body>
    {% include "partials/header.njk" %}
    <div class="container">{% include "partials/cert.njk" %}</div>
    {% include "partials/footer.njk" %}

    <!-- Lightbox -->
    <div class="lb" id="lightbox" role="dialog" aria-modal="true" hidden>
      <div class="lb__backdrop" data-lb-close></div>

      <figure class="lb__content" aria-label="Certificate preview">
        <button class="lb__close" type="button" aria-label="Close" data-lb-close>вњ•</button>
        <img class="lb__img" alt="" />
      </figure>
    </div>

    <!-- Lightbox -->
    <script src="{{ assetPath }}js/app.min.js"></script>
    <!-- Masonry -->
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  </body>
</html>
