<section class="experience" id="education" aria-labelledby="prev-exp-title">
  <h3 id="prev-exp-title" class="section-title">Education</h3>
  <ul class="exp__list">
    <li class="exp__item">
      <article aria-labelledby="edu-engineer-title">
        <h4 id="edu-engineer-title" class="edu__title-item">Processing Equipment Engineer</h4>
        <p class="edu__text mt-10">Donetsk National University of Economics and Trade</p>
        <p class="edu__text">Specialist Degree</p>
      </article>
    </li>
  </ul>
</section>
