<aside>
  {% include "partials/aside-sections/avatar.njk" %}
  {% include "partials/aside-sections/contacts.njk" %}
  {% include "partials/aside-sections/skills.njk" %}
  {% include "partials/aside-sections/languages.njk" %}
  {% include "partials/aside-sections/courses.njk" %}
  {% include "partials/aside-sections/certificates.njk" %}
</aside>
