<section class="cert-gallery">
  <!-- СЌР»РµРјРµРЅС‚ РґР»СЏ Р·Р°РґР°РЅРёСЏ С€РёСЂРёРЅС‹ РєРѕР»РѕРЅРєРё (responsive) -->
  <div class="grid-sizer"></div>

  <div class="cert-item"><img src="{{ assetPath }}img/cert/eng.jpg" alt="English Certificate" /></div>
  <div class="cert-item">
    <img src="{{ assetPath }}img/cert/it-porducts.jpg" alt="IT Products Certificate" />
  </div>
  <div class="cert-item"><img src="{{ assetPath }}img/cert/DanIT.jpg" alt="Dan.IT Certificate" /></div>
  <div class="cert-item"><img src="{{ assetPath }}img/cert/epam.jpg" alt="EPAM Certificate" /></div>
  <div class="cert-item">
    <img src="{{ assetPath }}img/cert/rss-nodejs.jpg" alt="RSS Node.js Certificate" />
  </div>
  <div class="cert-item"><img src="{{ assetPath }}img/cert/sql_certificate.png" alt="SQL Certificate" /></div>
  <div class="cert-item"><img src="{{ assetPath }}img/cert/rss-js.jpg" alt="RSS JavaScript Certificate" /></div>
</section>
