<header>
  <div class="header__avatar">
    <img
      src="{{ assetPath }}img/profile-photo.png"
      alt="{{ t.header.avatarAlt }}"
      width="54"
      height="54"
      class="avatar__img"
    />
  </div>
  <nav>
    <ul class="nav-list">
      <li>
        <a class="nav-link" href="{{ localePath }}#summary">{{ t.header.nav.summary }}</a>
      </li>
      <li>
        <a class="nav-link" href="{{ localePath }}#achievements">
          {{ t.header.nav.achievements }}
        </a>
      </li>
      <li>
        <a class="nav-link" href="{{ localePath }}#exp">{{ t.header.nav.experience }}</a>
      </li>
      <li>
        <a class="nav-link" href="{{ localePath }}#education">{{ t.header.nav.education }}</a>
      </li>
      <li>
        <a class="nav-link cert" href="{{ localePath }}certificates/">
          {{ t.header.nav.certificates }}
        </a>
      </li>
    </ul>
  </nav>
  <label class="language-select" for="language-select">
    <span hidden>{{ t.header.languageSelectLabel }}</span>
    <select
      id="language-select"
      name="language"
      class="language-select__control"
      data-language-select
      data-current-locale="{{ locale.code }}"
      data-current-route="{{ route.id }}"
    >
      {% for language in languageLinks %}
      <option value="{{ language.url }}" data-locale="{{ language.code }}" {% if language.code == locale.code %}selected{% endif %}>
        {{ language.shortLabel }}
      </option>
      {% endfor %}
    </select>
  </label>
  <button class="burger-btn">{{ t.header.menuButton }}</button>
</header>
