<main>
  <h1 class="cv-title">
    {{ t.main.name }}
    <span class="cv-subtitle">Fullstack Developer</span>
  </h1>

  {% include "partials/main-sections/summary.njk" %}
  {% include "partials/main-sections/achievements.njk" %}
  {% include "partials/main-sections/experience.njk" %}
  {% include "partials/main-sections/prev-experience.njk" %}
  {% include "partials/main-sections/education.njk" %}
  {% include "partials/main-sections/projects.njk" %}
</main>
