@use "./variables.scss" as vars; // путь подстрой, если другой

@mixin setSection() {
    min-height: 60px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    // background-color: vars.$secondaryBgColor;
    color: vars.$secondaryTextColor;
}
